@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


* {
  box-sizing: border-box;
}

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

body {
  background-color: #1D2D3F;
  border: 10px solid #000;
  font-family: "open sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #1d2d3f;
  background-color: #1d2d3f;
  background-color: #1d2d3f;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239c92ac' fill-opacity='0.11'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.container {
  /* background-color: #fff; */
  /* background-color:#1D2D3F; */
  width: 90vh;
  height: 60vh;
  /* padding: 50px 60px; */
  -webkit-box-shadow: 7px 10px 27px -6px rgba(0,0,0,0.63);
-moz-box-shadow: 7px 10px 27px -6px rgba(0,0,0,0.63);
box-shadow: 7px 10px 27px -6px rgba(0,0,0,0.63);
text-align: center;
}

.container .social img {
  width: 40px;
  margin: 30px 10px 0px;
}

.container img {
  width: 100%;
  height: 100%;
}


.div1 {
  /* background-color:#1D2D3F; */
  /* background-color:#fff; */
  height: 100%;
  width: 100%;
  padding-bottom: 60px;
  color: rgb(212, 212, 212);
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 400;
}

.div2 {
    /* background-color:#ccc; */
  background-color: #1D2D3F;
  width: 35%;
  float: left;
  min-height: 300px;
  text-align: left;
}

.div3 {
  /* background-color: rgb(3, 0, 190); */
  background-color: #1D2D3F;
  height: 340px;
  width: 65%;
  float: left;
  overflow: hidden;
}

.div3 .scrollable {
  height: 100%;
  overflow: auto;
  padding-right: 40px;
}

.div3 .mobile-bio {
  /* height: 100%;
  overflow: visible;
  padding-right: 40px; */
  display: none;
}

.blue-line {
  width: 100%;
  float: left;
  height: 4px;
  background-color:#0A95D1 ;
  opacity: .3;
  margin-bottom: 25px;
  animation: fadeInTwo ease 5s;
  -webkit-animation: fadeInTwo ease 5s;
  -moz-animation: fadeInTwo ease 5s;
  -o-animation: fadeInTwo ease 5s;
  -ms-animation: fadeInTwo ease 5s;
}


.div4 {
  /* background-color: rgb(201, 164, 0); */
  width: 100%;
  text-align: right;
  float: left;
  padding-top: 60px;
}


.div4 svg {
  width: 25px;
  margin-left: 15px;
}

.div4 a {
  text-decoration: none;
  display: inline-block;
}

.icon {
  fill:#1173A1;
}

.icon:hover {
  fill:#1eadf0;
  transition: 1s;
}




img.logo {
  width: 50px;
  vertical-align: middle;
  margin-right: 10px;
}

.div1 p {
  height: 150px;
  display: inline;
}

img.dads-photo {
  width:300px;
  padding-top: 25px;
}

h1 {
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
  /* animation-delay: 20s; */
  animation: fadeIn ease 5s;
  /* -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s; */
}

h1 span {
  font-size: 15px;
  color: #DBDBDB;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 12px;
  color: #DBDBDB;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 25px;
/* 
  animation-delay: 200s; */
  animation:fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

h2.no-breaks {
  display: none;
}

.div3 p {
  font-size: 14px;
  color:#d8d8d8;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1px;

  /* animation-delay: 40s; */
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

@media only screen and (max-width: 850px) {
  .container {
    /* background-color: #fff; */
    /* background-color: #1D2D3F; */
    width: 70vh;
    height: 50vh;
}


@media only screen and (max-width: 650px) {
  .container {
    /* background-color: #fff; */
    background-color:none!important;
    width: 50vh;
    height: 100%;
    /* margin-top: -200px; */
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
box-shadow: none;
}

.container img {
  width: 100%;
  height: 100%;
}
}
